.OrganisationPageContainer1{
    background-color: rgb(230, 230, 230);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.OrganisationPageContainer2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width: 920px) {
    .OrganisationPageContainer1{
        padding: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 420px) {
    .OrganisationPageContainer1{
        padding: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}